<nav class="navbar navbar-light" style="background-color: #white;">
  <div id="navbarleft">
    <div>
      <a class="navbar-brand"  href="efekty" >
        <mat-icon>crop_7_5</mat-icon>
        Efekty
      </a>
    </div>
    <div>
        <a class="navbar-brand"  href="gitary">
        Gitary
        </a>
    </div>
  </div>

    <a class="navbar-brand" href="http://localhost:8000/api/v1/" >
      <img class="card-img-top" src="https://pbs.twimg.com/profile_images/946294409037058048/b56R6fiH_400x400.jpg" alt="Card image cap">
    </a>

  <div id="navbarright">
    <a class="navbar-brand" href="basket" style="color: #fd4901dc"> 
      <mat-icon>shopping_basket</mat-icon>
      Koszyk
    </a>
    <a class="navbar-brand" href="login" >
      <mat-icon>portrait</mat-icon>
        Zaloguj
    </a>
  </div>

</nav>