<nav class="navbar navbar-light" style="background-color: #ffffff;">
  <div id="navbarleft">
    <div>
      <a class="navbar-brand"  href="efekty" style="color: #fd4901dc">
        Effect
      </a>
    </div>
    <div>
        <a class="navbar-brand"  href="gitary">
        Guitar
        </a>
    </div>
    </div>

    <a class="navbar-brand" href="efekty" style="padding-left: 10%;">
      <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image cap">
    </a>

    <div id="navbarright">
    <a class="navbar-brand" href="http://localhost:8000/cart/"> 
      <mat-icon>shopping_basket</mat-icon>
      Cart
    </a>
    <a class="navbar-brand" href="http://localhost:8000/users/login/">
      <mat-icon>portrait</mat-icon>
        Login
    </a>
  </div>

</nav>



<mat-tab-group mat-stretch-tabs>


    
    <mat-tab label="All"> 
        <div class="grid2x2">
            <div *ngFor="let effect of effects">
                <div class="box box1 ">
                    <div class="boxin">
                        <img class="card-img-top" src={{effect.effect_photo}}  alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{effect.effect_name}}</h5>
                            <h6 class="card-subtitle">{{effect.effect_price}} $</h6>
                            <div>
                                <a class="navbar-brand"  href="http://localhost:8000/{{effect.effect_id}}/1/">
                                <mat-icon style="font-size: 25px; color:#fd4901dc; padding-left: 10px;">shopping_basket</mat-icon>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="Compresor"> 
        <div class="grid2x2">
            <div *ngFor="let effect of compressors">
                <div class="box box1 ">
                    <div class="boxin">
                        <img class="card-img-top" src={{effect.effect_photo}} alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{effect.effect_name}}</h5>
                            <h6 class="card-subtitle">{{effect.effect_price}} $</h6>
                            <div>
                                <a class="navbar-brand"  href="http://localhost:8000/{{effect.effect_id}}/1/">
                                <mat-icon style="font-size: 25px; color:#fd4901dc;padding-left: 10px;">shopping_basket</mat-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="Distortion"> 
        <div class="grid2x2">
            <div *ngFor="let effect of distortions">
                <div class="box box1 ">
                    <div class="boxin">
                        <img class="card-img-top" src={{effect.effect_photo}} alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{effect.effect_name}}</h5>
                            <h6 class="card-subtitle">{{effect.effect_price}} $</h6>
                            <div>
                                <a class="navbar-brand"  href="http://localhost:8000/{{effect.effect_id}}/1/">
                                <mat-icon style="font-size: 25px; color:#fd4901dc;padding-left: 10px;">shopping_basket</mat-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="Octave"> 
        <div class="grid2x2">
            <div *ngFor="let effect of octavers">
                <div class="box box1 ">
                    <div class="boxin">
                        <img class="card-img-top" src={{effect.effect_photo}} alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{effect.effect_name}}</h5>
                            <h6 class="card-subtitle">{{effect.effect_price}} $</h6>
                            <div>
                                <a class="navbar-brand"  href="http://localhost:8000/{{effect.effect_id}}/1/">
                                <mat-icon style="font-size: 25px; color:#fd4901dc;padding-left: 10px;">shopping_basket</mat-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>

