#list {
    display: inline-grid;
    width: 20%;
    float: left;
}


.card {
    position: relative;
    width: 40rem;
    height: 50%;
    display: -webkit-inline-box;
}

.card-img-top {
    width: 390px;
    height: 400px;
}

#przycisk {
    bottom: 0;
}

.col {
    margin-left: 5%;
    margin-bottom: 30px;
    margin-right: 10%;

}

#navbar2{
    margin-left: 5%;
    min-height: 90px;
    padding-top: 25px;
}

#navbarright{
    margin-right: 8%;
    float:right;
    margin-top: -20px;
}

#fontrightcorner{
    font-size:10px;
}

#navbarcenter{
    text-align: center;
    margin-left: 25%;
}

.row{
    margin-top:40px;
}

.card-body{
    padding-top: 25px;
    padding-left: 20px;
    width: 400px;
    height: 400px;
}

.card-button{
    position: absolute;
    bottom: 0px;
    width: 250px;
    left: 118%;
}


.grid2x2 {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .grid2x2 > div {
    display: flex; 
    flex-basis: calc(50% - 40px);  
    justify-content: center;
    flex-direction: column;
  }
  .grid2x2 > div > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .box { margin: 20px; }
  .box1 { background-color: rgb(22, 5, 44); color: wheat}
  .box2 { background-color: rgb(22, 5, 44); color: wheat}
  .box3 { background-color: rgb(22, 5, 44); color: wheat}
  .box4 { background-color: rgb(22, 5, 44); color: wheat}
  
.boxin {
    height: 100%;
}


.btn.btn-warning {
    min-width: 100%;
    text-align: center;
    padding: 25%;
    
}
