{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'cart/style.css?version=1' %}"> 
    <!-- {% bootstrap_css %} -->
    {% bootstrap_javascript %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
</head>

<body>


{% if request.user.is_authenticated %}
    <nav class="navbar navbar-light" style="color: #fd4901dc">
        <div id="navbarleft">
            <div>
                <a class="navbar-brand"  href="http://localhost:4200/efekty" style="color: #fd4901dc">
                    {% comment %} Effect {% endcomment %}
                </a>
            </div>
            <div>
                <a class="navbar-brand"  href="http://localhost:4200/gitary">
                    {% comment %} Guitar {% endcomment %}
                </a>
            </div>
        </div> 
        <a class="navbar-brand" href="{% url 'list' %}" style="margin-left: 20%;">
            <img class="card-img-top" src="{% static "img/logo.png" %}" alt="Logo">
        </a>
        <div id="navbarright">
            <a class="navbar-brand" href="{% url 'cart:cart_detail' %}" > 
                <i class="material-icons" style="padding-left: 2px;">shopping_basket</i>
                Cart
            </a>
            
            <a class="navbar-brand" href="{% url 'users:account_update_form' %}"> 
                <i class="material-icons" style="padding-left: 12px;">assignment_ind</i>
                Account
            </a>
            
            <a class="navbar-brand" href="{% url 'users:logout' %}"> 
                <i class="material-icons" style="padding-left: 9px;">portrait</i>
                Logout
            </a>
        </div>
    </nav>
{% else %}   
    <nav class="navbar navbar-light" style="color: #fd4901dc">
        <div id="navbarleft">
            <div>
                <a class="navbar-brand"  href="http://localhost:4200/efekty" style="color: #fd4901dc">
                    {% comment %} Effect {% endcomment %}
                </a>
            </div>
            <div>
                <a class="navbar-brand"  href="http://localhost:4200/gitary">
                    {% comment %} Guitar {% endcomment %}
                </a>
            </div>
        </div> 
        <a class="navbar-brand" href="{% url 'list' %}" style="margin-left: 11%;">
            <img class="card-img-top" src="{% static "img/logo.png" %}" alt="Logo">
        </a>
        <div id="navbarright">
            <a class="navbar-brand" href="{% url 'cart:cart_detail' %}" > 
                <i class="material-icons" style="padding-left: 2px;">shopping_basket</i>
                Cart
            </a>
            <a class="navbar-brand" href="{% url 'users:login' %}"> 
                <i class="material-icons" style="padding-left: 5px;">portrait</i>
                Login
            </a>
        </div>
    </nav>
{% endif %}



<div class="container">
    
    <div class="panel panel-default" >
        <div class="panel-heading" style="text-align: center">

            {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                    Your cart: 
                    <a id="cena" href="{% url "cart:cart_detail" %}">
                        {{ total_items }} item{{ total_items|pluralize }},
                        ${{ cart.get_total_price }}
                    </a>
                {% else %}
                    Your shopping cart is empty.
                {% endif %}
            {% endwith %}
        </div>
    </div>

    {% block content %}
    {% endblock %}
    {% comment %} <footer class="footer">
            <div class="row">
                <div class="col-md-4">
                    <div id="footer-name"> Informacje </br> </div>
                    <a href="{% url "statue" %}"> Regulamin sklepu </a> </br>
                    <a href="{% url "policy" %}"> Polityka prywatności </a> </br>
                    <a href="{% url "delivery" %}"> Dostawa i płatności </a>
                </div>
                <div class="col-md-4">
                        <div id="footer-name"> Kontakt </br> </div>
                        888777999</br>
                        efektyteitamte@gmail.com</br>
                        <a href="{% url "contact" %}"> Formularz </a>
                </div>
                <div class="col-md-4">
                    <div id="footer-name"> Informacje o sklepie </br> </div>
                    Mickiewicza 3/15</br>
                    Koszalin 75-100</br>
                    Polska
                </div>
            </div>
    </footer> {% endcomment %}
</div>


</body>

</html>