{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Home</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="../favicon.ico">
      <!-- index.html -->
    <link rel="stylesheet" type="text/css" href="{% static 'shop/style.css' %}"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid" style="flex:1">
        <nav class="navbar" style="margin-bottom: 0px; min-height:0px;">

            LOGO
            <div id="navbarright">
                <a class="navbar-brand" id="fontrightcorner" href="#">
                    Login
                </a>
                <a class="navbar-brand" id="fontrightcorner" href="#">
                    Register
                </a>
            </div>
        </nav>
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <div id="navbar2">
                <a class="navbar-brand" href="index">
                        GEV 
                </a>

                <div id="navbarcenter">
                        <a class="navbar-brand" href="distortion" style=" font-size:30px"  >DISTORTION</a>
                        <a class="navbar-brand" href="compressor" style=" font-size:30px" >COMPRESSOR</a>
                        <a class="navbar-brand" href="octave" style=" font-size:30px" >OCTAVER</a>
                    </div>
                <a class="navbar-brand" style="float:right; margin-right:10%" href="#">
                    Koszyk
            </a>
            </div>
            
            
        </nav>



        {% block content %}{% endblock content %}
    </div>
</body>