{% extends 'shop/base.html' %}
{% block content %}

<div class="container-fluid" style="margin-bottom:40px;">

    <!-- <div class="container" id="list">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="index" role="tab" aria-controls="home">All</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="distortion" role="tab" aria-controls="profile">Distortion</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="compressor" role="tab" aria-controls="messages">Compressor</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="octave" role="tab" aria-controls="settings">Octaver</a>
        </div>
    </div> -->
    Opis efektu dodać w detail, po 2 efektach oddzielić ich jakaś linia elegancką, potem zrobić rejestrację i logowanie, na końcu koszyk i dodać logo.
    <div class="container" id="elements">
        <div class="row">
            {% for effect in firstlist %}
                <div class="col">
                    <div class="card">
                        <img class="card-img-top" src="{{effect.effect_photo.url}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ effect.effect_name }}</h5>
                            <h6 class="card-subtitle">{{effect.effect_price}}$</h6>
                            <p class="card-text">{{effect.effect_description}}</p>
                            <div class="card-button">
                                <button _ngcontent-c4="" class="btn btn-secondary btn-block" id="przycisk">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}