

<h3>All</h3>
{% for effect in firstlist %}
    <li>{{ effect.effect_name }} - {{ effect.effect_price }}</li>
{% endfor %}



<h3>Distortiony</h3>

    {% for effect in firstlist %}
        {% if effect.effect_group == "DIS" %}
            <li>{{ effect.effect_name }} - {{ effect.effect_price }}
                <img src="{{effect.effect_photo.url}}" alt="img" class="img-responsive img-rounded">
            </li>
        {% endif %}
    {% endfor %}


<h3>Oktawery</h3>

{% for effect in firstlist %}
    {% if effect.effect_group == "OCT" %}
        <li>{{ effect.effect_name }} - {{ effect.effect_price }} - 
            <img src="{{effect.effect_photo.url}}" alt="img" class="img-responsive img-rounded">
        </li>
        
    {% endif %}
{% endfor %}

<h3>KOMPRESORY</h3>

{% for effect in firstlist %}
    {% if effect.effect_group == "COM" %}
        <li>{{ effect.effect_name }} - {{ effect.effect_price }}</li>
    {% endif %}
{% endfor %}