{% extends "shop/base1.html" %}

{% load staticfiles %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    {{ user.username }}
{% else %}
    Not logged in.
{% endif %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/style1.css?version=1' %}"> 

<div class="container-fluid" style="margin-bottom:40px;">

  <div class="container" id="list">
      <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>
          <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>
          <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Messages</a>
          <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
        </div>
  </div>

  <div class="container" id="elements">
    <div class="row">
      <div class="col">
          <div class="card">
              <img class="card-img-top2" src="https://static2.redcart.pl/templates/images/thumb/388/600/1200/pl/0/templates/images/products/388/5c4cbe5f551cc05ec567c8f22797170d.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Ibanez Tube Sceamer</h5>
                <h6 class="card-subtitle">90$</h6>
                <p class="card-text">Charaketerystyczny dźwiek dla tubescmerow, sygnał modulowany w sposób symetryczny.</p>
                <button _ngcontent-c4="" class="btn btn-secondary btn-block" id="przycisk">Add to Cart</button>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card">
              <img class="card-img-top2" src="https://static5.redcart.pl/templates/images/thumb/17512/1500/1500/pl/0/templates/images/products/17512/7f711be15ce679c1fa4e66502d5014ae.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">MXR Compressor</h5>
                <h6 class="card-subtitle">70$</h6>
                <p class="card-text">PodstatwowPodstatwowPodstatwowPodstatwowPodstatwowPodstatwowPodstatwowPodstatwowPodstatwowPodstatwowPodstatwowPodstatwow
                    PodstatwowPodstatwowPodstatwowPodstatwowPodstatwow
                    
                    PodstatwowPodstatwowPodstatwowy kompresor dla kazdego gitarzysty.</p>
                <button _ngcontent-c4="" class="btn btn-secondary btn-block" id="przycisk">Add to Cart</button>
              </div>
            </div>
      </div>
      <div class="w-100"></div>
      <div class="col">
          <div class="card">
              <img class="card-img-top2" src="http://musicexpert.pl/12451-thickbox_default/tc-electronic-subnup-octaver-efekt-gitarowy.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Subnup Octaver</h5>
                <p class="card-text">Podwyższa sygnał podstawowy o dwie oktawy w góre.</p>
                <button _ngcontent-c4="" class="btn btn-secondary btn-block" id="przycisk">Add to Cart</button>
              </div>
          </div>
      </div>
      <div class="col">
            <div class="card">
                <img class="card-img-top2" src="http://musicexpert.pl/12451-thickbox_default/tc-electronic-subnup-octaver-efekt-gitarowy.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Subnup Octaver</h5>
                  <p class="card-text">Podwyższa sygnał podstawowy o dwPodwyższa sygnał podstawowy o 2 oktawy.</p>
                  <button _ngcontent-c4="" class="btn btn-secondary btn-block" id="przycisk">Add to Cart</button>
                </div>
            </div>
      </div>
    </div>
  </div>


</div>


{% comment %} 
<div class="row">
        <div class="col-md-3">
            <h3>Categories</h3>
            <ul class="nav nav-pills nav-stacked">

                    <a href="{% url "product_list" %}">All</a></li>


            </ul>
        </div>

        <div class="col-md-9">
            <div class="row">
                {% for product in products %}
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{% if product.image %}{{ product.image.url }}
                                          {% else %}{% static "img/no_image.png" %} {% endif %}">
                            </a>
                            <a href="{{ product.get_absolute_url }}">{{ product.effect_name }}</a><br>
                            ${{ product.effect_price }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div> 
     {% endcomment %}
{% endblock %}