body{
    background: red;
}

#navbarleft{

    float: left;
    color: #fd4901dc;


    .material-icons {
        font-size: 35px;
        display: inline;

    }
    
}

#navbarleft :hover{
    color: rgba(253, 73, 1, 0.863)
}

#navbarright{
    margin-right: 5%;
    float:right;
}

.card-img-top{
    width: 100px;
    height: 100px;
}



#navbarright :hover{
    color: rgba(253, 73, 1, 0.863)
}

.material-icons {
    font-size: 35px;
    display: table-cell;
    padding-left: 10px;
}

#kontakt{
    margin-bottom: 10px;
}


