<nav class="navbar navbar-light" style="background-color: #white;">
  <div id="navbarleft">
    <div>
      <a class="navbar-brand"  href="efekty" >
        <mat-icon>crop_7_5</mat-icon>
        Efekty
      </a>
    </div>
    <div>
        <a class="navbar-brand"  href="gitary">
        Gitary
        </a>
    </div>
  </div>

    <a class="navbar-brand" href="efekty" >
      <img class="card-img-top" src="https://pbs.twimg.com/profile_images/946294409037058048/b56R6fiH_400x400.jpg" alt="Card image cap">
    </a>

  <div id="navbarright">
    <a class="navbar-brand" href="basket"> 
      <mat-icon>shopping_basket</mat-icon>
      Koszyk
    </a>
    <a class="navbar-brand" href="login" style="color: #fd4901dc">
      <mat-icon>portrait</mat-icon>
        Zaloguj
    </a>
  </div>

</nav>


<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LOGIN</button>
    <button mat-button>REGISTER</button>
  </mat-card-actions>
</mat-card>