.row{
    margin-top:10px;
    margin-left: 10px;
}

.col {
    margin-bottom: 30px;
}

.btn.btn-warning {
    min-width: 100%;
    text-align: center;
    padding: 25%;
}

#navbarleft{
    float: left;
    color: #fd4901dc;
}
#cena{
    color: black;
}
#cena:hover{
    color: rgba(253, 73, 1, 0.863)
}

#navbarleft :hover{
    color: rgba(253, 73, 1, 0.863)
}

#navbarright{
    margin-right: 5%;
    float:right;
}

#navbarright :hover{
    color: rgba(253, 73, 1, 0.863)
}

.card-img-top{
    width: 100px;
    height: 100px;
}

.material-icons {
    font-size: 35px;
    display: table-cell;
    padding-left: 10px;
}

.img-responsive{
    display: block;
    margin-left: auto;
    margin-right: auto 
}